<div class="wrapper">

  <form class="conf" action="/welcome/do" method="get">
    <p class="title">Registration Confirmation</p>
    <h2>Hello <%= @user.user_name %>!</br>
    Your User ID and Password are confirmed.</h2>


      <button>
        <span class="state">Go To Profile</span>
      </button>
  </form>

</div>
