<h1>Registration Confirmation</h1>
<p> <!--Prints the user name and informs them their user_name and passowrd have been successfully created -->
Hello <%= @user.user_name %>!</br>
Your User ID and Password are confirmed.
</p>

<form action="/welcome/do" method="get">
  <input type="submit" value="Go To Profile"/>
</form>
