<div class="wrapper">
  <form class="logout" action="/users/index" method="get">
    <p class="title" >You are now logged out.</p>
    <button>
      <span class="state">Register/Login</span>
    </button>
  </form>
</div>
