<div class="wrapper">
  <form class="login" action="/users/login" method="post">
    <p class="title">Log in</p>
    <input type="text" name="user_name" placeholder="Username" autofocus=""/>
    <input type="password" name="password" placeholder="Password"/>
    <button id="login_btn">
      <span class="state">Log in</span>
    </button>
    <a href="/register/do">Not registered yet?</a>
    <h3><% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
    <% end %></h3>
  </form>

</div>
