<h1>User Registration</h1>
<p>Please fill out the following fields. Required fields denoted with an asterisk.</p>
<!--Creates the user input form on the registration page. -->
<form action="/users/register" method="post">
  <input type="text" name="user_name" placeholder="Username"/>*</br>
  <input type="text" name="password" placeholder="Password"/>*</br>
  <input type="text" name="full_name" placeholder="Full Name" /> </br>
  <input type="text" name="address" placeholder="Street Address"/></br>
  <input type="text" name="city" placeholder="City" /></br>
  <input type="text" name="state" placeholder="State"/></br>
  <input type="text" name="postal_code" placeholder="Postal Code"/></br>
  <input type="text" name="country" placeholder="Country"/></br>
  <input type="text" name="email" placeholder="Email"/></br>
  <input type="text" name="phone1" placeholder="Phone Number 1"/>
  <input type="text" name="phone2" placeholder="Phone Number 2"/>
  <input type="text" name="phone3" placeholder="Phone Number 3"/></br>
  <input type="submit" value="Register"/>
</form>
<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>


<h1>Login</h1>

<form action="/users/login" method="post">
  <input type="text" name="user_name" placeholder="Username"/>*</br>
  <input type="text" name="password" placeholder="Password"/>*</br>
  <input type="submit" value="Login"/>
</form>

<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>
